.hero {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
    z-index: 0 !important;
    overflow: hidden;
    @media (max-width: 768px) {
        display: none !important;
    }
}
